/********** ********** ********** end of style.css ********** ********** **********/
*, html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}


/********** navigation **********/
.navbar-dark .navbar-brand:hover {
  color: peachpuff;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: peachpuff;
}


/********** jumbotron **********/
.jumbotron {
  height: 50rem;
  border-radius: 0;
  background-image: url("images/pan-xiaozhen-wXG5XF73o3w-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
.hero-div {
  padding-top: 5%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.jumbotron h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}
.jumbotron p {
  font-size: 1.5rem;
  color: white;
}


/********** portfolio **********/
#portfolio {
  padding-top: 0.5rem;
  background-color: peachpuff;
}
.individual-portfolio-div {
  /*empty*/
}
img {
  width: 100%;
  border-radius: 2.5px;
}


/********** footer **********/
footer {
  background-color:peachpuff;
}
.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.linkedin, .github, .twitter {
  font-size: 2rem;
  /* display: inline-block; */
}
.fab {
  color: black;
}
.copyright-div {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}


/********** ********** responsive ********** **********/
@media (min-width: 992px) {
 /*removed*/
}
/********** ********** ********** end of style.css ********** ********** **********/