*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(248, 237, 219); */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}


/* navigation*/



/* jumbotron */
.jumbotron {
  background-image: url();
}


/* portfolio */
img {
  width: 500px;
  height: 325px;
}


/* footer */



